<section class="block-content">
    //="nav.html"
    <div class="container">
        <div class="block-content_block">
            <h2 class="block-content_block_title">Айдентика</h2>
            <ul class="block-content_block_list">
                <li>- разработка фирменного стиля</li>
                <li>- создание графического контента</li>
                <li>- работа с полиграфией</li>
            </ul>
            <a class="button block-content_block_button" href="./pages/identika.html">Примеры</a>
        </div>
        <img class="block-content_img" src="./img/IDE.png" alt="">
        <div class="shell"></div>
        <div class="shell_first"></div>
        
        <section class="graffiti">
            <div class="shell"></div>
            <div class="graffiti_block">
                <h2 class="graffiti_block_title">Граффити</h2>
                <ul class="graffiti_block_list">
                    <li>- разработка эскиза</li>
                    <li>- реализация на обьекте</li>
                    <li>- аэрография на машинах</li>
                </ul>
                <button class="button graffiti_block_button">Примеры</button>
            </div>
            <img src="./img/Graf.png" alt="">
        </section>
    
    
        <section class="design">
            <div class="design_block">
                <h2 class="design_block_title">Дизайн</h2>
                <h4 class="design_block_subtitle">Промышленный</h4>
                <ul class="design_block_list">
                    <li>- Анализ аналогов</li>
                    <li>- Эскизные поиски (фор-проект)</li>
                    <li>- Технический проект (макетный прототип)</li>
                </ul>
                <button class="button design_block_button">Примеры</button>
            </div>
            <img class="design_desk design_img" src="./img/Design1.png" alt="">
            <img class="design_mob design_img" src="./img/Design.png" alt="">
            <div class="shell"></div>
        </section>
    
    
        <div class="shell_first"></div>
        <section class="digital">
            <div class="shell"></div>
            <div class="digital_block">
                <h2 class="digital_block_title">Digital art</h2>
                <ul class="digital_block_list">
                    <li>- Фотобашинг</li>
                    <li>- cg art</li>
                    <li>- illustration</li>
                </ul>
                <button class="button digital_block_button">Примеры</button>
            </div>
            <img class="digital_img" src="./img/digital.png" alt="">
        </section>
    
    
        <section class="paint">
            <div class="paint_block">
                <h2 class="paint_block_title">Картины</h2>
                <button class="button paint_block_button">Примеры</button>
            </div>
            <img class="paint_img" src="./img/Pick.png" alt="">
        </section>
    </div>
</section>    
    