<section class="menu menu_display">

    <div class="menu_trigon">
            <img src="./img/треугольник.png" alt="">
        </div>
        <div class="menu_content">
            <ul class="menu_content_port">
                <li><a href="#">Портфолио</a></li>
                <li><a href="./pages/identika.html">Айдентка</a></li>
                <li><a href="#">Пром. Дизайн</a></li>
                <li><a href="#">Digital art</a></li>
                <li><a href="#">Граффити</a></li>
                <li><a href="#">Картины</a></li>
            </ul>
            <ul class="menu_content_doc">
                <li>Документы</li>
                <li><a href="#">Резюме</a></li>
                <li><a href="#">Портфолио</a></li>
                <li><a href="#">Договоры</a></li>
                <li><a href="#">Этапности работ</a></li>
            </ul>
        </div>
        <button class="menu_button"><img src="./img/arrow.png" alt=""></button>
</section>